:root {
  background-color: #111111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  overflow-x: hidden;
}

/* sidebar content*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  padding: 10px 14px;
  background: #000;
  z-index: 100;
}

.hInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: auto;
  padding: 60px 20px;
}

.logo {
  color: white;
  margin-top: 10px;
}

.logButton {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;
}

.logButton:hover {
  background-color: white;
  color: #222;
}

/* content area */
.content {
  margin-left: 150px;
  width: calc(100% - 150px);
}

/*welcoming-banner*/

.welcome-banner {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Category Body */
.cat-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.windows-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  max-width: 1200px;
  width: 100%;
}

.window-l,
.window-m,
.window-r {
  border: 5px solid black;
  border-radius: 8px;
  overflow: auto;
}

.window-l,
.window-r,
.window-m {
  height: 500px;
}

.window-l {
  background-color: #f2f2f2;
}

.window-m {
  background-color: #e6e6e6;
  margin-top: 50px;
}

.window-r {
  background-color: #f2f2f2;
}
